.choice-section {
	@include flex(center, center);
	padding: 1rem 1rem 7rem 1rem;
	position: relative;

	.image {
		width: 6rem;
		height: 6rem;
		padding: 0.3rem;
		border: 2px solid $color-choice;
		border-radius: 50%;
		cursor: pointer;
		@include trans(box-shadow, 200ms);
		@include trans(transform, 100ms);

		&:hover {
			box-shadow: 0 0 2rem 0 rgba(255, 238, 163, 0.5);
			transform: scale(1.03);
		}

		&:hover span {
			visibility: visible;
		}

		&:active {
			transform: translateY(1px);
		}

		span {
			font-family: $font-stack-secondary;
			font-size: 1.3rem;
			margin-top: 5px;
			display: block;
			text-align: center;
			visibility: hidden;
			@include trans(visibility, 200ms);
		}

		img {
			height: 100%;
			width: 100%;
		}

		&.paper-container {
			margin: 0 5rem;
		}

		&.animate {
			animation-name: gameAnimation;
			animation-duration: 450ms;
			animation-timing-function: ease-in;
			animation-iteration-count: infinite;
		}
	}

	h3 {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		letter-spacing: 5px;
	}
}

@keyframes gameAnimation {
	0% {
		transform: scale(1);
		border: 2px solid $color-choice;
	}

	50% {
		transform: scale(1.05);
		border: 2px solid $green;
	}

	100% {
		transform: scale(1);
		border: 2px solid $color-choice;
	}
}
