.choice-display {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	@include flex(space-between, center);
	flex-direction: column;
	padding: 1rem;
	//font-size: 3rem;

	span {
		font-size: 1.7rem;
	}

	&.user-choice-display {
		left: -50%;
	}

	&.computer-choice-display {
		right: -50%;
	}

	.image {
		width: 6rem;
		height: 6rem;

		img {
			height: 100%;
			width: 100%;
		}
	}
}

@media screen and (max-width: 550px) {
	.choice-display {
		&.user-choice-display {
			left: -45%;
		}

		&.computer-choice-display {
			right: -45%;
		}

		span {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.choice-display {
		&.user-choice-display {
			left: -42%;
		}

		&.computer-choice-display {
			right: -42%;
		}
	}
}

@media screen and (max-width: 350px) {
	.choice-display {
		span {
			&.hide-extra-small {
				visibility: hidden;
			}
		}
	}
}
