//flexbox

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

//transition

@mixin trans($property, $time) {
	transition: $property $time ease-in;
}

//overlay

@mixin overlay($background-color, $opacity) {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $background-color;
	opacity: $opacity;
}
