*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-stack-primary;
	overflow-x: hidden;
	background-color: $dark-blue;
	color: white;
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style-type: none;
}

// @media screen and (min-width: 2000px) {
// 	html {
// 		font-size: 100%;
// 	}
// }

@media screen and (max-width: 320px) {
	html {
		font-size: 30%;
	}
}

@media screen and (min-width: 320px) {
	html {
		font-size: 40%;
	}
}

@media screen and (min-width: 425px) {
	html {
		font-size: 45%;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 50%;
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 62.5%;
	}
}

@media screen and (min-width: 1440px) {
	html {
		font-size: 75%;
	}
}

@media screen and (min-width: 2000px) {
	html {
		font-size: 90%;
	}
}
