*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: simplifica;
	src: url(../../assets/fonts/simplifica.ttf);
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-primary;
	overflow-x: hidden;
	background-color: $dark-blue;
	color: white;
}

a {
	text-decoration: none;
	display: inline-block;
}

li {
	list-style-type: none;
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 40%;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 35%;
	}
}
