.result {
	font-family: $font-stack-secondary;
	font-size: 2.5rem;
	letter-spacing: 5px;

	.winner-choice,
	.loser-choice {
		font-size: 3rem;
	}

	.winner-choice {
		color: $primary-blue;
	}

	.loser-choice {
		color: $red;
	}
}
